
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Placa</th>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Classe</th>
                    <th>Descrição</th>
                    <th>Pleço</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var protecao in ViewBag.Protecao)
                {
                    <tr>
                        <td>@protecao.Id</td>
                        <td>@protecao.Placa</td>
                        <td>@protecao.Modelo</td>
                        <td>@protecao.Marca</td>
                        <td>@protecao.Classe</td>
                        <td>@protecao.Descricao</td>
                        <td>@protecao.PrecoHora</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
