
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Placa</th>
            <th>Descrição</th>
            <th>Preço Dia</th>
            <th>Classe</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Quantidade Disponivel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.Carro.Id</td>
            <td>@ViewBag.Carro.Placa</td>
            <td>@ViewBag.Carro.Descricao</td>
            <td>@ViewBag.Carro.PrecoDia</td>
            <td>@ViewBag.Classe.Nome</td>
            <td>@ViewBag.Modelo.Nome</td>
            <td>@ViewBag.Marca.Nome</td>
            <td>@ViewBag.Carro.QtdDisponivel</td>
        </tr>
    </tbody>
</table>

@Html.ActionLink("Remover", "Remove", new { id = @ViewBag.Modelo.Id })
@Html.ActionLink("Voltar", "Index")
