
<div class="divTexto">
    <h1 class="Titulo">Cadastro de Modelo</h1>
</div>

<form action="/Modelo/Adiciona" method="post">
    @Html.ValidationMessage("modelo.caracter")

    <label for="nome">Nome:</label>
    <input id="nome" name="modelo.Nome" class="form-control"/>
    @Html.ValidationMessage("modelo.nome")

    <label for="descricao">Descricao:</label>
    <input id="descricao" name="modelo.Descricao" class="form-control"/>

    <label for="marca">Marca:</label>
    <select id="marca" name="modelo.MarcaId" class="form-control">
        @foreach (var marca in ViewBag.Marca)
        {
            <option value="@marca.Id">@marca.Nome</option>
        }

    </select>
    <label for="classe">Classe:</label>
    <select id="classe" name="modelo.ClasseId" class="form-control">
        @foreach (var classe in ViewBag.Classe)
        {
            <option value="@classe.Id">@classe.Nome</option>
        }

    </select>
        <input class="btn btn-success botoes" type="submit" value="Cadastrar" />
</form>