
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="~/Content/JS/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="~/Content/Css/bootstrap-datetimepicker.css" />

    <link rel="stylesheet" href="~/Content/Css/Site.css" />
    <link rel="stylesheet" href="~/Content/Css/edit.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <title>_Layout</title>
</head>
<body>
    <div id="menu-top" class="container">
        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li>@Html.ActionLink("Aluguel", "Form", "Aluguel")</li>
                
                <li>@Html.ActionLink("Logar", "Index", "Login")</li>               
            </ul>
            <h3 class="text-muted">@Html.ActionLink("Locadora Carro", "Index", "Home")</h3>
        </div>
        <div>
        <div id="menu-lateral">
            <ul class="nav nav-pills pull-right invisivel">
                <!-- Clientes Deslogaos -->
                
                <!-- Clientes Logados -->

                <!-- Funcionario -->
                <li>@Html.ActionLink("Modelos dos carros", "Index", "Modelo")</li>
                <li>@Html.ActionLink("Marca dos carros", "Index", "Marca")</li>
                <li>@Html.ActionLink("Classes dos carros", "Index", "Classe")</li>
                <li>@Html.ActionLink("Proteção", "Index", "Protecao")</li>
                <li>@Html.ActionLink("Carros", "Index", "Carro")</li>
                <!-- Administrador -->
                <li>@Html.ActionLink("Funções", "Index", "Funcao")</li>
                <li>@Html.ActionLink("Funcionarios", "Index", "Funcionario")</li>             
            </ul>
            <ul>
            </ul>
        </div>
        <div id="conteudo">
            @RenderBody()
        </div>
       </div>
    </div>
</body>
</html>
